.section-title {
  margin-top: 0;
  // margin-bottom: 50px;
  margin-bottom: 30px;

  color: $title-text-color;

  font-weight: 700;
  // font-size: 36px;
  font-size: 28px;
  // line-height: 1.13;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
}
